@font-face {
    font-family: MenuFont;
    src: url(../fonts/menu.otf);
}

body {
	margin: 0;
	padding: 0;
}

.menu {
    font-family: MenuFont;	
}

.First1 {
	vertical-align:-205px;
}

.Menu {
	height: 600px;
    text-align: center;
	background-color: #A9A9A9;	
}

.content {
	background-color: #B0C4DE;
    text-align: center;
	padding: 4%;
}

.content-buy {
	min-width: 200px;
	min-height: 400px;
	border-radius: 20px;
	background-color: #B0C4DE;
    text-align: center;
	margin: 5%;
}

.payment_methods {
	 display: flex;
    align-items: center;
    text-align: center;
	margin-left: 52px;
}

.product {
	display: inline-block;
  	margin: 15px 5px auto;
    display: inline-block;
	background-color: white;
	padding: 2%;
	width: 300px;
	height: 320px;
}